/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    font-size: 16px;
    line-height: 30px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }

  p, a, li{
    font-family: 'Roboto', sans-serif;
    font-display: light;
    font-weight: 300;
  }

  h1 {
    font-family: "Donegal One", serif;
    /* font-display: medium; */
    font-weight: 400;
    /* font-style: italic; */
  }

  h2 {
      font-family: 'Roboto', sans-serif;
      font-display: regular;
      font-weight: 400;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 6px solid #00adef;
    border-bottom: 6px solid #00adef;
    background-color: #00adef;
    color:white;
    
  }
  
  /* WRITE YOUR CODE BELOW HERE */

  a:hover{
    background-color: aquamarine;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .tarjeta1 {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1;
    grid-template-columns: 3fr 3fr;
  }
  .tarjeta2 {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    grid-template-columns: 3fr 3fr;
  }
  .tarjeta3 {
    display: grid;
    grid-column: 1;
    grid-row: 2 / 5;
    grid-template-columns: 1fr 1fr;
  }
  .tarjeta4 {
    display: grid;
    grid-column: 3;
    grid-row: 3;
    grid-template-columns: 1fr 1fr;
  }