/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    font-size: 16px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

  a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 6px solid #00adef;
    border-bottom: 6px solid #00adef;
  }
  
  /* WRITE YOUR CODE BELOW HERE */